/* main page start */

/* welcome start */

.main-welcome {
    position: relative;
    overflow: hidden;
}

.main-welcome img{
    width: 100%;
    height: 100%;
    opacity: 70%;
}

.main-welcome-overlay {
    position: absolute;
    top: 0%;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    padding: 4rem;
    gap: 5rem;
}

.main-welcome-title {
    color: white;
    font-size: 5rem;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 1rem;
}

.main-welcome-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    align-items: center;
}

.main-welcome-buttons a {
    color: white;
    background-color: #255F38;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 12rem;
    text-decoration: none;
    font-size: 2rem;
}

.main-welcome-buttons a:hover {
    background-color: #1E4C2E;
}

/* welcome end */

/* topic start */

.main-topic {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #255F38;
    padding-left: 3rem;
    padding-right: 3rem;
}

.main-topic img {
    width: 400px;
    height: auto;
    object-fit: cover;
}

.main-topic h2,
.main-topic p {
    color: white;
}

.main-topic h2 {
    padding-top: 2rem;
    font-size: 3rem;
    color: #E1AD01;
}

.main-topic p {
    width: 50rem;
    font-size: 1.5rem;
    text-align: justify;
}

.main-topic a {
    color: black;
    background-color: #E1AD01;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 12rem;
    text-decoration: none;
    font-size: 2rem;
    border-radius: 50px;
}

.main-topic a:hover {
    background-color: #C99901;
}

.main-topic-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-topic-content a {
    text-align: center;
    align-self: center;
    margin-top: 1rem;
}

.main-topic-content-highlight {
    color: #E1AD01;
    font-weight: bold;
}

.main-topic-content:nth-child(2)  a {
    margin-bottom: 3rem;
}

.main-topic-button {
    margin-bottom: 3rem;
}

.main-topic-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-topic-even-title {
    align-self: flex-end;
}

.main-topic-content ul li {
    list-style: square;
    color: white;
    font-size: 1.5rem;
}

.main-topic a.main-topic-email {
    background-color: transparent;
    color: white;
    padding: 0;
    border-radius: 0;
    width: auto;
    font-size: 1.5rem;
    text-decoration: underline;
}

.main-topic iframe {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* topic end */

/* image break start */

.main-img-break {
    all: unset;
    width: 100%;
    height: auto;
    opacity: 90%;
    display: block;
}

/* image break end */

/* main page end */