@media (max-width: 1024px) {
    
.main-welcome {
    position: relative;
    height: 50vh;
    margin-bottom: 2rem;
    background-color: black;
    margin-bottom: 0;
}

.main-welcome img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.main-welcome-overlay {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main-welcome-title {
    color: white;
    font-size: 1.8rem;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 1rem;
}

.main-welcome-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-welcome-buttons a {
    background: #E1AD01;
    color: black;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

.main-topic {
    margin-bottom: 1rem;
    margin-top: 1rem;
    align-items: center;
}

.main-topic img {
    width: 100%;
    min-height: 200px;
    object-fit: cover;
}

.main-topic-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.main-topic-content h2 {
    color: #E1AD01;
}

.main-topic-content p {
    color: white;
    text-align: justify;
}

.main-topic-content a {
    background: #E1AD01;
    color: black;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

.main-img-break {
    display: none;
}

#products, #contacts {
    display: flex;
    flex-direction: column-reverse;
}

.main-topic-contact-list {
    color: white;
    text-align: start;
}

.main-topic-contact-list a {
    all: unset;
    text-decoration: underline;
    cursor: pointer;
}

.main-topic-content-highlight {
    color: #E1AD01;
    font-weight: bold;
}

}