html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1f3226;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
}

.gallery {
  max-width: 100%;
  margin: 0 auto;
  padding: 5rem 5rem;
}

.gallery h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
  color: #E1AD01;
}

.gallery-grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.gallery-grid img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 8px;
}