@media (min-width: 1025px) {

.about hr {
    border: none;
    background-color: #255F38;
    height: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.about-cover {
    width: 100%;
}

.about-cover img {
    width: 100%;
    height: auto;
    opacity: 85%;
}

.about-content {
    display: flex;
    flex-direction: column;
    background-color: #1f3226;
    align-items: center;
    padding-bottom: 2rem;
}

.about-content-topic-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-content-topic-container h1 {
    color: #E1AD01;
    font-size: 4rem;
    font-style: italic;
}

.about-content-topic {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin-top: 2rem;
}

.about-content-topic-text {
    width: 450px;
    text-align: justify;
    color: white;
}

.about-content-topic-text h2 {
    color: #E1AD01;
}

.about-content-topic-text-highlight {
    font-weight: bold;
    color: #E1AD01;
}

.about-content-topic img {
    width: 450px;
    height: 330px;
    object-fit: cover;
    border-radius: 8px;
}

.about-content hr {
    border: none;
    background-color: #E1AD01;
    height: 0.1rem;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

}