@media (max-width: 1024px) {

main {
    background-color: #1f3226;
}

hr {
    display: none;
}

.about {
    margin-bottom: 0;
}

.about-content {
    max-width: 1200px;
    margin: 0 0; 
    padding: 0 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0rem;
}

.about-content-topic-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-content-topic-container h1 {
    display: none;
}

.about-content-topic {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    padding-top: 0;
}

.about-content-topic img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    max-width: 100%;
}

.about-content-topic-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem 1rem;
}

.about-content-topic-text p {
    color: white;
}

.people {
    flex-direction: column-reverse;
}

}


