main {
    padding-top: 80px;
}

body {
    background-color: white;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-container h1 {
    color: #255F38;
    font-size: 2rem;
    font-style: italic;
}

.contact-text {
    text-align: center;
    margin-bottom: 2rem;
}

.contact-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    width: 60%;
}

.contact-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: center;
    gap: 1rem;
}

.contact-list-item img {
    width: 100px;
    height: 100px;
}

.contact-list-item p {
    margin-top: 0;
    margin-bottom: 0;
}

iframe {
    margin-top: 2rem;
}

.order-button {
    padding: 20px 30px;
    background-color: #255F38;
    color: white;
    text-decoration: none;
    margin-top: 4rem;
    margin-bottom: 4rem;
    cursor: pointer;
}

.order-button:hover {
    background-color: #1E4C2E;
}

.faq {
    margin-top: 2rem;
    width: 60%;
}

.faq h2 {
    color: #255F38;
}

.faq-item {
    margin-bottom: 1rem;
}

.faq-item:hover {
    cursor: pointer;
}

.faq-item summary {
    color: #255F38;
}

.order-input.message textarea {
    width: 100%;
    min-height: 120px;
    padding: 0.5rem;
    resize: vertical;
    box-sizing: border-box;
}