footer {
    background-color: rgb(35, 47, 35);
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

footer h3,
footer p {
    margin: 0;
    color: white;
}

footer a {
    color: white;
}

.footer-contact {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

.footer-social-media {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
}

.footer-social-media img {
    width: 50px;
    height: 50px;
}

.footer-social-media-list {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.footer-goto-start {
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}