footer {
    background-color: rgb(35, 47, 35);
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

footer h3,
footer p {
    margin: 0;
    color: white;
}

footer a {
    color: white;
}

.footer-contact {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

.footer-social-media {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
}

.footer-social-media img {
    width: 50px;
    height: 50px;
}

.footer-social-media-list {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

#gotoStart {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    text-decoration: none;
    display: none;
}

.footer-goto-start h3 {
    background-color: #E1AD01;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 50px;
}

.footer-goto-start h3:hover {
    text-decoration: underline;
}

.footer-goto-start h3:active {
    background-color: #255F38;
}