.navigation-container img {
    width: 70px;
    height: 70px;
}

.navigation-container {
    margin: 0px;
    padding: 0px;
    
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;

    background-color: #255F38;

    width: 100%;
    position: fixed;
    z-index: 1000;

    box-shadow: 0 4px 2px -2px rgb(40, 39, 39);
}

.navigation {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 10px;
    padding: 0px;
}

.navigation li a {
    text-decoration: none;
    color: white;
}

.language-selector {
    color: white;
    text-decoration: none;
}

.navigation-rightside {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.navigation-rightside a {
    text-decoration: none;
    color: white;
}