@media (min-width: 1025px) {

html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

* {
    font-family: Garamond, serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

img {
    display: block;
    max-width: 100%;
}

}