@media (max-width: 1024px) {

hr {
    display: none;
}

p {
    color: white;
}

h1 {
    color: #E1AD01;
}

.detailed-product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detailed-product-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 2rem;
}

.slider {
    width: 300px;
    height: 300px;
}

.detailed-product-food {
    margin-left: 1rem;
    margin-right: 1rem;
}

.recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.recipes iframe {
    width: 100%;
}

table {
    width: 85%;
}

.detailed-product-food {
    margin-top: 2rem;
}

.detailed-product-food ul li {
    color: white;
}

figure {
    margin-left: 0;
    margin-right: 0;
}

figure figcaption {
    color: white;
}

}