@media (min-width: 1025px) {

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    background-color: #1f3226;
}

.detailed-product-container {
    background-color: #1f3226;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    gap: 4rem;
}

.detailed-product-container hr {
    border: none;
    background-color:#E1AD01 ;
    height: 0.2rem;
    width: 65%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.detailed-product-content {
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
    gap: 3rem;
}

.detailed-product-content-text {
    display: flex;
    flex-direction: column;
    color: white;
}

.detailed-product-content-text h1 {
    color: #E1AD01;
}

.detailed-product-content-text hr {
    border: none;
    background-color:#E1AD01 ;
    height: 0.2rem;
    width: 100%;
}

.detailed-product-content-text-highlight {
    color: #E1AD01;
    font-weight: bold;
    font-size: 1.5rem;
}

.detailed-product-food {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 3rem;
    padding-right: 3rem;
    color: #E1AD01;
}

.detailed-product-food li {
    font-size: 1.2rem;
    color: white;
}

.recipes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.recipes figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.highlight {
    color: #E1AD01;
    font-weight: bold;
}

}