/* detailed product start */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    background-color: white;
}

.detailed-product-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.detailed-product-container hr {
    border: none;
    background-color:#E1AD01 ;
    height: 0.2rem;
    width: 65%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.detailed-product-content {
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
    gap: 3rem;
}

.detailed-product-content-text {
    display: flex;
    flex-direction: column;
    color: #255F38;
}

.detailed-product-content-text hr {
    border: none;
    background-color:#E1AD01 ;
    height: 0.2rem;
    width: 100%;
}

.detailed-product-content-text-highlight {
    color: #E1AD01;
    font-weight: bold;
    font-size: 1.5rem;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 30%;
  margin-top: 0;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color:#bbc89b;
}

.detailed-product-food {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 3rem;
    padding-right: 3rem;
}

.detailed-product-food li {
    font-size: 1.2rem;
}

.recipes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.recipes figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.highlight {
    color: #255F38;
    font-weight: bold;
}

/* detailed product end */