table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 30%;
  margin-top: 0;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color:#bbc89b;
}

tr:nth-child(odd) {
  background-color: white;
}