table {
  border-collapse: collapse;
  width: 30%;
  margin-top: 0;
}

@media (max-width: 1024px) {
  table caption {
    color: white;
}
}

@media (min-width: 1025px) {
  table caption {
    color: #255F38;
}
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color:#bbc89b;
}

tr:nth-child(odd) {
  background-color: #dfe5e0;
}

th {
  background-color: #43895a;
}