/* products page start */

.products-cover img {
    width: 100%;
    height: auto;
    opacity:85%;
}

.products-cover hr {
    border: none;
    background-color:#255F38;
    height: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.products-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-content h1 {
    color: #255F38;
    font-size: 4rem;
    font-style: italic;
}

.products-content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3rem;
    margin-bottom: 3rem;
}

.products-content-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-content-grid-item img {
    width: 70%;
    height: 70%;
    object-fit: cover;
}

.products-content-grid-item-text {
    display: flex;
    flex-direction: column;
    background-color: #255F38;
    width: 70%;
    align-items: center;
}

.products-content-grid-item-text h2,
.products-content-grid-item-text h3 {
    color: white;
    text-align: center;
}

.products-content-grid-item-text h2 {
    margin-bottom: 0;
}

.products-content-grid-item-text-button-container {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.products-content-grid-item-text-button-container a {
    color: black;
    background-color: #E1AD01;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 6rem;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 1rem;
}

/* products page end */