@media (min-width: 1025px) {

body {
    background-color: #1f3226;
}

.title {
    color: #E1AD01;
    text-align: center;
    font-size: 3rem;
    background-color: #1f3226;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.products-cover img {
    width: 100%;
    height: auto;
    opacity:85%;
}

.products-cover hr {
    border: none;
    background-color:#255F38;
    height: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.products-content-container {
    display: flex;
    flex-direction: row;
}

.products-search-and-sort {
    background-color: #1f3226;
    flex: 2;
    padding-top: 10rem;
    padding-bottom: 3rem;
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-right: 4rem;
}

.products-search-and-sort h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.products-search-and-sort hr {
    border: none;
    background-color:#E1AD01 ;
    height: 0.1rem;
    margin-top: 3rem;
    width: 100%;
}

.products-search-and-sort-search {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    width: 75%;
    box-sizing: border-box;
    border: 3px solid transparent;
}

.products-search-and-sort-sort {
    display: flex;
    flex-direction: column;
}

.products-search-and-sort-sort-category {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.products-search-and-sort-sort-category label {
    color: white;
    font-size: 1.5rem;
}

.products-search-and-sort-sort input {
    width: 200px;
}

.products-search-and-sort-sort-category input[type="checkbox"] {
    transform: scale(1.2); 
}

.products-content {
    flex: 8;
    background-color: #1f3226;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60rem;
}

.products-content h1 {
    color: #E1AD01;
    font-size: 4rem;
    font-style: italic;
}

.products-content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3rem;
    margin-bottom: 3rem;
    min-height: 30rem;
}

.products-content-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 30rem;
}

.products-content-grid-item img {
    width: 70%;
    height: 70%;
    object-fit: cover;
    max-width: 70%;
}

.products-content-grid-item-text {
    display: flex;
    flex-direction: column;
    background-color: #255F38;
    width: 70%;
    align-items: center;
}

.products-content-grid-item-text a {
    text-decoration: none;
}

.products-content-grid-item-text h2:hover {
    color:#E1AD01;
}

.products-button:hover {
    color: #255F38;
}

.products-content-grid-item-text h2,
.products-content-grid-item-text h3 {
    color: white;
    text-align: center;
}

.products-content-grid-item-text h2 {
    margin-bottom: 0;
}

.products-content-grid-item-text-button-container {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

}