body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}

main {
    margin-top: 5rem;
    flex: 1;
    background-color: white;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

#start {
    scroll-margin-top: 5rem;
}