@media (min-width: 1025px) {

main h1 {
    color: #E1AD01;
    font-size: 3rem;
    font-style: italic;
}

main {
    margin-left: 20rem;
    margin-right: 20rem;
}

.basket {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3rem;
    color: white;
}

.basket-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.basket-list-item {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: start;
    width: 700px;
}

.basket-list-item img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    max-width: 70%;
    border-radius: 8px;
}

.basket-list-item-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.basket-list-item-text h2 {
    font-size: 1.5rem;
}

.basket-list-item-text p {
    margin-top: 0;
    margin-bottom: 0;
}

.basket-list-item-remove {
    color: white;
    background-color: red;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 25px;
    text-align: center;
    width: 4rem;
    cursor: pointer;
}

.basket-list-item-remove:hover {
    background-color: rgb(169, 1, 1);
}

.basket-quantity-input {
    width: 50px;
    height: 30px;
    box-sizing: border-box;
}

.basket-quantity-input:hover {
    cursor: pointer;
    box-shadow: 0 0 0 3px rgba(225,173,1,0.32);
}

.basket-quantity-input:focus {
    outline: none;
    border: 3px solid #E1AD01;
}

.basket-total {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.basket-total h2 {
    color: #E1AD01;
}

.basket-total-prices {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
}

.basket-total-prices p {
    margin-top: 0;
    margin-bottom: 0;
}

.basket-total-prices hr {
    width: 100%;
}

.line-break {
    border-right: 2px solid #255F38;
    margin-left: 5rem;
    margin-right: 5rem;
}

.item-highlight {
    color: #E1AD01;
}

.order-button {
    background-color: #E1AD01;
    padding: 1rem;
    width: 5rem;
    border-radius: 50px;
    color: black;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.order-button:hover {
    background-color: #C99901;
}

}