html {
    scroll-behavior: smooth;
}

a, h1 {
  font-family: Garamond, serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

/* navigation start */

.navigation-container img {
    width: 70px;
    height: 70px;
}

.navigation-container {
    margin: 0px;
    padding: 0px;
    
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;

    background-color: #255F38;
}

.navigation {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0px;
}

.navigation li a {
    text-decoration: none;
    color: white;
}

.language-selector {
    width: 70px;    /* padding for aligning navigation-container elements*/
    color: white;
    text-decoration: none;
}

/* navigation end */

/* main start */

/* welcome start */

.main-welcome {
    position: relative;
    overflow: hidden;
}

.main-welcome img{
    width: 100%;
    height: 100%;
    opacity: 80%;
}

.main-welcome-overlay {
    position: absolute;
    top: 0%;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    padding: 4rem;
    gap: 5rem;
}

.main-welcome-title {
    color: #255F38;
    font-size: 5rem;
}

.main-welcome-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    align-items: center;
}

.main-welcome-buttons a {
    color: white;
    background-color: #255F38;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 12rem;
    text-decoration: none;
    font-size: 2rem;
}

/* welcome end */

/* about start */

.main-about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #255F38;
    padding-left: 3rem;
    padding-right: 3rem;
}

.main-about img {
    width: 400px;

}

.main-about h2,
.main-about p {
    color: white;
}

.main-about h2 {
    padding-top: 2rem;
    font-size: 2rem;
}

.main-about p {
    width: 50rem;
    font-size: 1.5rem;
    text-align: justify;
}

.main-about a {
    color: white;
    background-color: #1F7D53;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 12rem;
    text-decoration: none;
    font-size: 2rem;
    border-radius: 50px;
}

.main-about-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-about-content a {
    text-align: center;
    align-self: center;
    margin-top: 1rem;
}

/* about end */

.main-tractor-break {
    width: 100%;
    height: auto;
}

/* products start */

.main-products {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #255F38;
    padding-left: 3rem;
    padding-right: 3rem;
}

.main-products img {
    width: 400px;
    height: auto;
    object-fit: cover;
}

.main-products h2,
.main-products p {
    color: white;
}

.main-products h2 {
    padding-top: 2rem;
    font-size: 2rem;
}

.main-products p {
    width: 50rem;
    font-size: 1.5rem;
    text-align: justify;
}

.main-products a {
    color: white;
    background-color: #1F7D53;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 12rem;
    text-decoration: none;
    font-size: 2rem;
    border-radius: 50px;
}

.main-products-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-products-content a {
    text-align: center;
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.main-products-content h2 {
    width: 50rem;
    display: flex;
    justify-content: end;
}

/* products end

/* footer start */

footer {
    background-color: #18230F;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

footer h3,
footer p {
    margin: 0;
    color: white;
}

footer a {
    color: white;
}

.footer-contact {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

.footer-social-media {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
}

.footer-social-media img {
    width: 50px;
    height: 50px;
}

.footer-social-media-list {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.footer-goto-start {
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}

/* footer end */


/* main end*/
