body {
    margin: 0px;
    padding: 0px;
}

/* navigation start */

.navigation-container img {
    width: 70px;
    height: 70px;
}

.navigation-container {
    margin: 0px;
    padding: 0px;
    
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;

    background-color: #27391C;
}

.navigation {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.navigation li a {
    text-decoration: none;
    color: white;
}

.language-selector {
    width: 70px;    /* padding for aligning navigation-container elements*/
    color: white;
    text-decoration: none;
}

/* navigation end */
