a, h1 {
  font-family: Garamond, serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

/* navigation start */

.navigation-container img {
    width: 70px;
    height: 70px;
}

.navigation-container {
    margin: 0px;
    padding: 0px;
    
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;

    background-color: #255F38;
}

.navigation {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0px;
}

.navigation li a {
    text-decoration: none;
    color: white;
}

.language-selector {
    width: 70px;    /* padding for aligning navigation-container elements*/
    color: white;
    text-decoration: none;
}

/* navigation end */

/* main */

.main-welcome {
    position: relative;
}

.main-welcome img{
    width: 100%;
    height: auto;
    opacity: 80%;
}

.main-welcome-overlay {
    position: absolute;
    top: 0%;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    padding: 4rem;
    gap: 5rem;
}

.main-welcome-title {
    color: #255F38;
    font-size: 5rem;
}

.main-welcome-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    align-items: center;
}

.main-welcome-buttons a {
    color: white;
    background-color: #255F38;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 12rem;
    text-decoration: none;
    font-size: 2rem;
}

/* main end*/
