@media (max-width: 1024px) {

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1f3226;
    max-width: 100vw;
}

* {
    font-family: Garamond, serif;
}

img {
    max-width: 100%;
}

body img {
    max-width: 100vw;
    margin: 0;
    padding: 0;
}

iframe {
    width: 80%;
    height: 200px;
    margin-bottom: 1rem;
}

}