@media (max-width: 1024px) {

footer {
    display: flex;
    flex-direction: column-reverse;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #18230F;
    margin-top: 0;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

footer img {
    width: 40px;
    height: 40px;
}

.footer-contact {
    display: none;
}

.footer-social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.footer-social-media h3 {
    display: none;
}

.footer-social-media-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
}

.footer-author {
    color: white;
}

.footer-author h3 {
    text-align: center;
}

.footer-author p {
    margin: 0;
}

}