@media (max-width: 1024px) {

.navigation-container {
    display: none;
}

.navigation-container-mobile {
    background-color: #18230F;
}

.navigation-mobile {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    padding-bottom: 0;
}

.navigation-mobile img {
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    color: #E1AD01;
}

#pages {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    flex-direction: column;
    gap: 1rem;
    margin-top: 0.5rem;
    transition: all 0.3s ease-out;
}

#pages.show {
    max-height: 300px;
    opacity: 1;
}

#pages a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

#current {
    color: #E1AD01;
    font-weight: bold;
}

}